# Esenciales para JupyterHub y entorno de trabajo
jupyterhub
jupyter
oauthenticator

# Bibliotecas para análisis de datos
matplotlib
numpy
pandas
polars  # Agregado Polars para manipulación eficiente de datos

# Bibliotecas para procesamiento de datos y machine learning
scikit-learn
scipy
seaborn
numba

# Bibliotecas para procesamiento distribuido
pyspark  # Agregado PySpark para procesamiento en clúster

# Opcionales, si se necesita
scikit-image
protobuf
